@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

/* .mac-book {
  width: 206px;
  height: 206px;
  position: relative;
  overflow: hidden;
}
.lines {
  height: auto;
  position: absolute;
  right: 6.25%;
  left: 6.25%;
  width: 87.49%;
  bottom: 8.98%;
  top: 9.77%;
  height: 81.25%;
  overflow: visible;
} */
